body {
  margin: 0;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  color: black;
  padding-top: 100px;
  
}
.mypic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%;   */
  border-radius: 50%;
}
  
.home h2 {
  font-size: 54px;
  text-align: center;
  font-weight: 300;
  color: #22A39F;
}

.home h3 {
  font-size: 28px;
  font-weight: 300;
  color: #22A39F;
}

.home p {
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 15px;
  color: #434242;
  text-align: center;
}

#home .row > div {margin-bottom: 20px;}
#home .row > div img {width: 100%; max-width: 246px; height: auto;} 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #212529;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    height: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    /* color: #f2f2f2; */
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /* background-color: #ddd; */
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /* background-color: #4CAF50; */
    color: white;
  }
  .topnav a.whitecolor {
    color: white;
  }

  /* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}